<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenjies88.practice.kotlin_practice_backend.mapper.GoodsMapper">

    <insert id="insert">
        insert into goods (user_id,name)
        values (#{userId},#{name})
    </insert>

    <sql id="pageSql">
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
    </sql>

    <select id="count" resultType="Int">
        select count (1)
        from goods
        <include refid="pageSql"/>
    </select>

    <select id="appPage" resultType="com.shenjies88.practice.kotlin_practice_backend.entity.GoodsDO">
        select id,name
        from goods
        <include refid="pageSql"/>
        order by id desc
        limit #{offset} , #{size}
    </select>
</mapper>